@charset "utf-8";

body {
  margin: 0;
}

header{
  background: rgba(200, 6, 25, 0.906);
  height: 96px;
  padding: 16px 32px;
  max-width: 1440px;
  margin: 0 auto;
  .container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1{
    margin-top: 20px;
    color: white;
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  img{
    vertical-align: text-bottom;
    border-radius: 10px;
    margin: 0; 
  }
  a:hover{
    opacity: 0.8; 
  }
}

.menus{
  max-width: 600px;
  margin: 0 auto;
  padding-top: 24px;
  h2{
    margin: 0 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  .container{
    max-width: 600px;
    list-style-type: none;
    margin: 32px auto;
    padding: 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    a{
      text-decoration: none;
      color: inherit;
    }
    a:hover{
      opacity: 0.7;
    }
    li{
      width: calc((100% - 32px - 32px) / 3);
      box-sizing: border-box;
      h3{
        font-weight: normal;
        margin: 8px 0 0;
        font-size: 16px;
        }
      p{
        margin: 0;
        }
      img{
        vertical-align: bottom;
        width: 100%;
        height: auto;
        } 
    }  
  }
}

footer{
  text-align: center; 
  margin: 0;
  height: 196px;
  background: lightgrey;
  small{
    font-size: 16px;
    line-height: 128px;
  }
}

.menu{
  display: flex;
  gap: 16px;
  background-color: lightgrey;
  max-width: 1472px;
  justify-content: center;
  div{
    margin: 0 36px;
    width: 264px;
    ul{
    margin-top: 0;
    }
   h2{
    font-size: 20px;
    margin-bottom: 4px;
    }
  }
 

}

.cook{
  max-width: 1472px;
  h2{
    text-align: center;
  }
  .cooks{
    display: flex;
    gap: 32px;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    flex-wrap: wrap;
    .make{
      flex: 1;
      margin: 0 24px;
    }
    .dish{
      margin:0;
      img{
        margin: 16px 16px 0 0;
        flex: 1;
        display: block;
      }
    }
  }
  p{
    margin: 0;
  }
}


@media (max-width:600px) {
  .menus{
    max-width: 375px;
    flex-wrap: wrap;
    .container{
      display: flex;
      justify-content: center;
      img{
        width: 200px;
        height: auto;
      }
      li {
        width: 40%;
      }
    }
  }
  .menu{
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    text-align: center;
    gap: 0;
    .left{
      margin: 0;
      padding: 0;
    }
    .right{
      margin: 0;
      padding: 0;
    }
      li {
        text-align: left;
        width: 100%;
      }
    }
  .cooks{
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    text-align: center;
    gap: 8px;              
    .make{
      text-align: left;
      width: 100%;
      max-width: 375px;
      margin-bottom: 0;
      margin: 0 auto;
      li{
        margin-right: 8px;
      }
    }
    .dish{
      margin-top: 0;
      padding-bottom: 24px;
      display: block;
      display: flex;
      }
    }
  }